<h1>Stupid Coaching</h1>
<p>Hello, what is your question?</p>
<h2><%= @ask %></h2>
<h3><form action="/answer">
  <input type="text" name="question">
  <input type="submit" value="Ask!">
</form>
</h3>
